extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Aziz Kemal HOSCAN

        p.lead.text-light
          | Full Stack JavaScript Developer | Life Long Learner | Operations and Logistics Lead.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            |
            | As a highly self-motivated and dedicated person I have concluded 8th year of my working life.
            |  I did various things in my career. Started and failed a web  company, worked as a consultant for PWC and  I even cleaned chimneys.

            | After several serial attempts of becoming an entrepreneur I found myself in logistics sector. This logistics business actually redefined my character and my thoughts about life.

            | I believe in the notion that things like traveling, speaking another language, changing  profession, learning something new, not only broadens mind but also actually increases brain in size.

            | Embracing a popular quote of Hemingway about self improvement, I got myself out of my comfort zone. I joined Le-Wagon’s coding bootcamp and managed to carry it out successfully.

            | Now I am looking for opportunities where I can improve my technical skills and learn new technologies.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li React
          li Rails
          li JavaScript
          li Ruby
          li HTML5
          li CSS
          li SQL
          li git
          li GitHub
        h6 Contact Info

        ul
          li +44-7867-595-744
          li kemal.hoscan@yahoo.com

        a.button.expanded(href='https://www.linkedin.com/in/aziz-kemal-hoscan-1803a040/') LinkedIn
        a.button.expanded(href='https://github.com/azizkemalhoscan') GitHub
        a.button.expanded(href='https://twitter.com/AzizHoscan') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
