extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Aziz Kemal HOSCAN

        p.lead.text-light
          | Full Stack JavaScript Developer | Life Long Learner | Operations and Logistics Lead.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | As a humble timid kid, I always wanted to do something related to technology and I also wanted to live in another country cause
            | I belive it not only boardens you mind it actually grows your brain in size (I have proof). After university I got a demonstrated
            | experience in a company such as PWC but then duty called I had to get back to family business in my hometown. Cuase family business
            |was in crisis. Workin hard for 7 years straight I managed to solve the crisis and institualized family company.
            |Now it is not too late to sail to my own dreams/ BLABLABLA (Duzenle).
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li React
          li Rails
          li JavaScript
          li Ruby
          li HTML5
          li CSS
          li SQL
          li git
          li GitHub
        h6 Contact Info

        ul
          li +44-7867-595-744
          li kemal.hoscan@yahoo.com

        a.button.expanded(href='https://www.linkedin.com/in/aziz-kemal-hoscan-1803a040/') LinkedIn
        a.button.expanded(href='https://github.com/azizkemalhoscan') GitHub
        a.button.expanded(href='https://twitter.com/AzizHoscan') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
